a {
  color: #6d92c0;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
a:hover {
  color: white;
  text-decoration: underline;
}
body {
  font-family: "Work Sans", sans-serif;
  background: url(../img/map.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-color: #21222b;
  color: white;
  margin-top: 50px;
}
footer {
  text-align: center;
  background-color: #191a20;
  padding: 20px;
}
h1 {
  font-size: 80px;
  opacity: 70%;
  font-weight: 100;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  color: #6d92c0;
  margin: 0 auto;
}
select {
  padding: 12px;
  background-color: #121317;
  color: white;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #6d92c0;
  font-size: 16px;
}
.container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.city {
  background-color: rgba(25, 26, 32, 0.75);
  border-radius: 10px;
  padding: 20px;
  margin: 8px;
  transition: all 300ms ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.city:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgba(109, 146, 192, 0.3);
}
.city-dropdown {
  background-color: rgba(25, 26, 32, 0.75);
  border-radius: 10px;
  padding: 20px;
  margin: 8px;
}
.date {
  opacity: 0.7;
}
.time {
  font-size: 60px;
}
.time small {
  font-size: 30px;
  vertical-align: middle;
  color: #6d92c0;
  margin-left: -8px;
}
